body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

textarea {
    resize: none;
}

.suggestions {
    color: #000000;
    font-size: 1rem;
}

#results pre {
    background: #e9ecef;
    padding: 1rem;
    border-radius: 5px;
}

/* Customize SPARQL keywords */
.cm-keyword {
    color: #007acc;
    font-weight: bold;
}

.cm-variable {
    color: #d73a49;
}

.cm-atom {
    color: #008000;
}
.banner {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.banner h3 {
    margin: 0;
}